<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<div class="content-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">

    <div class="container">
      <h2>Backlog</h2>
      <div #todoList="cdkDropList" [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]" class="list" (cdkDropListDropped)="drop($event)"
        cdkDropList>
        <mat-card id="todo">
          <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
          <div class="card-task" *ngFor="let task of todo | async" cdkDrag>
            <app-task (edit)="editTask('todo', $event)" [task]="task">
            </app-task>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="container">
      <h2>In progress</h2>
      <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)" class="list">
        <mat-card id="inProgress">
          <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
          <div class="card-task" *ngFor="let task of inProgress | async" cdkDrag>
            <app-task (edit)="editTask('inProgress', $event)" [task]="task">
            </app-task>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="container">
      <h2>Done</h2>
      <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event)" class="list">
        <mat-card id="done">
          <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
          <div class="card-task" *ngFor="let task of done | async" cdkDrag>
            <app-task (edit)="editTask('done', $event)" [task]="task">
            </app-task>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
